<form [formGroup]="myForm">
    
    Value: {{myForm.value | json}}

    <mat-form-field>
        <input matInput placeholder="email" formControlName="email" autocomplete>
        <mat-error *ngIf="email.invalid && email.touched">
            Your email does not look right
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="password" formControlName="password" type="password">
        <mat-error *ngIf="password.invalid && password.touched">
            Your password does not look right
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="age" formControlName="age" [value]="0">
        <mat-error *ngIf="age.errors?.min && age.touched">
            {{ age.errors.min.actual }} is too young to use this app!
        </mat-error>
        <mat-error *ngIf="age.errors?.max && age.touched">
            {{ age.errors.max.actual }} is too old to use this app!
        </mat-error>
    </mat-form-field>
</form>