<div class="container custom-container">
  <div class="col-md-12">

    <h3 class="mb-3 text-center">Update Find</h3>

    <div class="form-group">
      <input type="text" [(ngModel)]="findData.title" class="form-control" placeholder="title" [value]="findData.title">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="findData.description" class="form-control" placeholder="description">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="findData.status" class="form-control" placeholder="status">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="findData.primary_art" class="form-control" placeholder="primary_art">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="findData.latitude" class="form-control" placeholder="latitude">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="findData.longitude" class="form-control" placeholder="longitude">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="findData.width" class="form-control" placeholder="width">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="findData.cost" class="form-control" placeholder="cost">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="findData.created_by" class="form-control" placeholder="created_by">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="findData.updated_at" class="form-control" placeholder="updated_at">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="findData.live" class="form-control" placeholder="Live">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="findData.live" class="form-control" placeholder="Live">
    </div>


    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateFind()">Update Find</button>
    </div>

  </div>
</div>
