<nav>
  <ul>
    <li><a routerLink="/basic" routerLinkActive="active">Basic</a></li>
    <li><a routerLink="/nested" routerLinkActive="active">Nested</a></li>
    <li><a routerLink="/array" routerLinkActive="active">Array</a></li>
    <li><a routerLink="/valid" routerLinkActive="active">Valid</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/tabbednav" routerLinkActive="active">Tabbednav</a></li>
  </ul>
</nav>

<button class="btn btn-primary mr-1" (click)="loadForm1()">Form 1</button>

<button class="btn btn-primary" (click)="loadForm2()">Form 2</button>

<form [formGroup]="form" (ngSubmit)="onSubmit(this.model)">
  <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
</form>
