<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxHide.gt-xs>
      <button (click)="onToggleSidenav()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div><h1 class="maintitle"><a routerLink="/">LookWhatFound.Me</a></h1></div>
    <div fxFlex fxLayout fxLayoutAlign="end"></div>
    <div fxHide.xs>
    <ul class="top-nav">
      <li>
        <div *ngIf="isUserLoggedIn; else isLogOut">
          <a mat-button class="nav-link" routerLink="/logout">Logout</a>
      </div>

      <ng-template #isLogOut>
        <a mat-button routerLink="/login">Login</a>
      </ng-template>

      </li>

      <li><a mat-button routerLink="/register">Register</a></li>
      <li><a mat-button routerLink="/tabbednav">Tabbednav</a></li>
      <li><a mat-button routerLink="/findsall">All Finds</a></li>
    </ul>
    </div>
  </mat-toolbar-row>
  <!-- <mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row> -->
</mat-toolbar>
